.nav-separator{
    border-right: 1px solid black;
}

.bottom-nav-separator{
    border-bottom: 1px solid black;
}
.content-space{
    min-height: 25em;
}
.footer{
    min-height: 15em;
}
.nav:hover {
    background-color:"red";
}
.category-button{
    background-color: #d9534f;
    width: 95%;
    color:white;
    font-size: 21px;
    font-weight: bolder;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    border-radius: 0;
}
.active-button{
    background-color: #d86b6b; 
}
.category-button:hover{
    cursor: pointer;
}
.product-shower{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.product-shower-separator{
    border-left: 1px solid black;
    min-height: 22em;
}
.product-box{
    border: 1px solid black;
    min-width: 30%;
    max-height: 200px;
}
@media (max-width: 1000px) {
    .category-button{
        font-size: 18px;
    }
}
@media (max-width: 860px) {
    .category-button{
        font-size: 16px;
    }
}
